$button-types: 'success', 'info', 'error', 'warning';
$button-colors: $success, $info, $error, $warning;

@mixin form-button {
  font-size: 1rem;
  padding: 1rem 2rem;
}

.button {
  display: inline-block;
  padding: 0.4rem 1rem;
  color: $white;
  background-color: $brand-color;
  border-radius: $default-border-radius;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0.95;
  outline: none;
  border:none;
  cursor: pointer;

  @include m('form') {
    @include form-button;
  }

  @each $current-type in $button-types {
    @include m($current-type) {
      $i: index($button-types, $current-type);
      background-color: nth($button-colors, $i);

      @include m('form') {
        @include form-button;
      }
    }
  }

  &:hover {
    opacity: 1;
  }
}