$button-types: 'success', 'info', 'error', 'warning';
$button-colors: $success, $info, $error, $warning;

@mixin form-button {
  font-size: 1rem;
  padding: 1rem 2rem;
}

.button {
  display: inline-block;
  padding: 0.4rem 1rem;
  color: $white;
  background-color: transparentize($brand-color, 0.1);
  border-radius: $default-border-radius;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 300;
  outline: 0;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: transparentize($brand-color, 0);
  
  }

  @include m('form') {
    @include form-button;
  }

  @include m('default') {
    background-color: white !important;
    border: 2px solid $wall !important;
    color: $text-black !important;

    @include m('form') {
      background-color: white !important;
      border: 2px solid $wall !important;
      color: $text-black !important;  
      @include form-button;
    }
  }

  @each $current-type in $button-types {
    @include m($current-type) {
      $i: index($button-types, $current-type);
      background-color: transparentize(nth($button-colors, $i), 0.1);

      @include m('form') {
        background-color: transparentize(nth($button-colors, $i), 0.1);
        @include form-button; 
        &:hover {
          background-color: transparentize(nth($button-colors, $i), 0);
        }
      }
      &:hover {
        background-color: transparentize(nth($button-colors, $i), 0);
      }
    }
  }
}