.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;

  @include m('pad') {
    padding: 2rem 1rem;
  }

  @include m('small') {
    max-width: 500px;
  }
  
  @include tablet {
    padding: 0.8rem;
    padding-top: 0;
  
  }
}