.nav {
  padding: 1rem 0;
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }

  @include e('list') {
    list-style:none;
    position:relative;
    float:left;

    @include m('right') {
      float: right;
    }
  }

  @include e('item') {
    position:relative;
    float:left;
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
  
  @include e('link') {
    display:block;
    text-decoration:none;
    font-weight:400;
    font-size:0.9rem;
    padding: 1rem 1.2rem;
    color: $text-black;
    border-bottom: 0px solid transparent;
    transition: color 0.2s ease;
    
    &:after {
      transition: height 0.2s ease;
      content: '';
      height: 0px;
      width: 100%;
      background-color: $brand-color;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: $default-border-radius $default-border-radius 0 0;
      box-shadow: 0 0 4px rgba($brand-color, 0.6);
    }
    
    @include m('active') {
      color: $brand-color;
      &:after {
        height: 4px;
      }
    }

    &:hover {
      color: $brand-color;
      &:after {
        height: 4px;
      }    
    }
  }

  @include e('brand') {
    padding: 1rem 0;
    font-weight: 500;
    display: block;
    float: left;
    font-size: 1.1rem;
    vertical-align: baseline; 
  }

  @include m('vertical') {
    .nav__list, .nav__item {
      float: none;
    }

    .nav__item {
      margin-bottom: 0.5rem;
    }

    .nav__link {
      position: relative;
      border:0;
      display:block;
      text-decoration:none;
      color: $text-black;
      transition: border-left 0.1s ease, color 0.1s ease;

      &:after {
        transition: width 0.2s ease;
        content: '';
        height: 100%;
        width: 0px;
        background-color: $brand-color;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0 $default-border-radius $default-border-radius 0;        
        box-shadow: 0 0 4px rgba($brand-color, 0.6);
      }

      
      @include m('active') {
        &:after {
          width: 6px;
        }
        background-color: $wall;
        color: $brand-color;
      }
  
      &:hover {
        color: $brand-color;
        &:after {
          height: 100%;
          width: 6px;
          top: 0;
          left: 0;
        }    
      }
    }
  }
}