.nav {
  padding: 1rem 0;
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }

  @include e('list') {
    list-style:none;
    position:relative;
    float:left;

    @include m('right') {
      float: right;
    }
  }

  @include e('item') {
    position:relative;
    float:left;
  }
  
  @include e('link') {
    display:block;
    text-decoration:none;
    font-weight:400;
    font-size:0.9rem;
    padding: 1rem 1.2rem;
    color: $text-black;
    border-bottom: 0px solid transparent;
    transition: border-bottom 0.1s ease, color 0.1s ease;

    @include m('active') {
      color: $brand-color;
      border-bottom: 3px solid $brand-color;
    }

    &:hover {
      color: $brand-color;
      border-bottom: 3px solid $brand-color;      
    }
  }

  @include e('brand') {
    padding: 1rem 0;
    font-weight: 500;
    display: block;
    float: left;    
  }

  @include m('vertical') {
    @include e('list') {
      float: none;
    }
  }
}