.panel {
  background-color: $wall;
  border-radius: $default-border-radius;
  padding: 0;
  margin: 0;
  width: auto;
  overflow: hidden;

  @include e('header') {
    padding: 1rem 1rem 1rem;
    font-weight: 600;
    font-size: 1.1rem;
  }

  @include e('body') {
    padding: 0 1rem 1rem;
  }

  @include e('footer') {
    padding: 1rem;
  }
}