.panel {
  background-color: $wall;
  border-radius: $default-border-radius;

  @include e('header') {
    padding: 1rem;
    font-weight: bold;

  }

  @include e('body') {
    padding: 1rem;
  }

  @include e('footer') {
    padding: 1rem;
  }
}