@mixin typography {
  body, html {
    font-family: $font;
    color: $text-black;
    line-height: 130%;
    font-size: 12pt;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    font-weight: 500;
  }
  p:not(:last-of-type) {
    margin-bottom: 0.625rem;
  }
  
  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1rem; }

  a:not([class]) {
    color: $brand-color; 
    // font-weight: 600;
    text-decoration: none;
    padding-bottom: 1px;
    box-shadow: inset 0 -3px 0px 0 transparentize($brand-color, 0.8); 
    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: inset 0 -2ch 0 0 transparentize($brand-color, 0.8); 
    }
  }

  strong {
    font-weight: 700;
  }
}