// Variables
$light-gray: #efefef;
$medium-gray: #555555;
$white: #ffffff;

// Mixins
@import 'mixins/bem';
// @import 'mixins/typography';
@import 'mixins/queries';

// Components
@import 'components/container';
@import 'components/panel';